body {
   background-image: url("images/IMG_3483.jpg");
   background-color: #cccccc;
   width: auto;
  }

@media only screen and (max-width: 540px){
   .image-nav{
      background-image: url("images/IMG_3483.jpg");
      background-color: #cccccc;
   }

   .sections{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
   }

   .img-laura{
    width: 70%;
    justify-content: center;
   }

   .descricao{
      color: #6A5648;
      text-align: center;
   }

   .row>*{
    padding-right: 0;
   }

   .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
  }

  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
   color: #e4c8dc;
   }

  .logo{
   width: 55%;
  }

  .logo-menu{
   width: 97%;
  }

  .titulo{
   color: #A17B27;
   font-weight: lighter;
   margin-left: 5px;
  }

  .portfolio{
   width: 100%;
  }

  img, svg {
   vertical-align: baseline;
  }

   .images-portfolio{
      width: 100%;
   }

   .servicos{
      width: 40%;
   }

   .botao{
      border-radius: 15px;
      color: #666565;
      
   }

}