
@media only screen and (max-width: 540px){
   .sobre{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   }

   .img-laura{
    width: 70%;
   }

   .descricao{
    text-align: center;
   }

   .titulo{
    margin-left: 25px;;
   }

   .row>*{
    padding-right: 0;
   }
}
